
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src={{this.imgPath}} class="cardimg">
                    <span class="card-title black-text">{{this.name}}</span>
                </div>
                <div class="card-content">
                    <p>Posted by {{this.postedBy.username}} {{this.postedBy.lastName}}</p>
                    <p>{{this.description}}</p>
                </div>
                <div class="card-action">
                    <a href="/foodstand/{{this.id}}">Detalles</a>
                </div>
            </div>
        </div>
