<section>
  <h2>La guerra es aqui y ahora </h2>
  <div class="show-stands">
    {{#each food}}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{this.imgPath}}" alt="...">
        </div>
         <div class="caption">
            <h3>{{this.name}}</h3>
            <p>Posted by {{this.postedBy.username}} {{this.postedBy.lastName}}</p>
              <a href="/foodstand/{{this.id}}" class="btn btn-primary" role="button">Detalles</a>
          </div>
      </div>
    </div>
     {{/each}}
</section>